<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>ChatRoom</title>
    <script src="js/firebase.js"></script>
    <link rel="manifest" href="manifest.json">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="starter">

    <ion-pane>
        <ion-header-bar class="bar-royal">
            <h1 class="title">ChatRoom</h1>
        </ion-header-bar>
        <ion-content ng-controller="appCntrl">


            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                     <input type="text" ng-model="chatTopic" placeholder="ChatTopic" >
                     </label>
                <button class="button button-small button-royal" ng-click="makeChatroom()">
                      Create Chat Room
                </button>
            </div>

            <div class="item item-input-inset">
                <label class="item-input-wrapper">
                     <input type="text" ng-model="roomName" placeholder="ChatTopic" >
                     </label>
                <button class="button button-small button-royal" ng-click="enterRoom()">
                      Enter Chat room
                </button>
            </div>

            <div id="display"></div>


            <div id="x_input" class="item item-input">
                <textarea placeholder="Comments" ng-model="message"></textarea>
                <button class="button button-small" ng-click="send()">
                Submit
              </button>
            </div>




        </ion-content>
    </ion-pane>
</body>

</html>